<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
        <span class="navbar-text">
            {# full_name #}
        </span>
    </ul>
    <ul class="navbar-nav mx-auto">
        <span class="navbar-text">
            {# start_time #} - {# end_time #}
        </span>
    </ul>
    <ul class="navbar-nav mx-auto">
        <a href={# home_url #}>
            <img src="/web/img/home.png" width="50">
        </a>
    </ul>
</nav>

