<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="col-md-2">
            <ul class="navbar-nav ml-auto">
                <a href=" {# profile_url #}">
                    <img src="/web/img/gear.png" width="40">
                </a>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav ml-auto text-left">
              <span class="navbar-text">
                  {# full_name #}
              </span>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav mx-auto">
                <a href={# home_url #}>
                    <img src="/web/img/home.png" width="40">
                </a>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav mx-auto">
                <a href="{# logout_url #}" class="text-right">
                    <img src="/web/img/power.png" width="40">
                </a>
            </ul>
        </div>
    </nav>
</div>

<div class="container py-3">
    <div class="row">
        <div class="col-md-3 text-center pl-5">
            <a href={# new_quiz_url #}>
                <img src="/web/img/edit.png" width="40" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href={# quiz_overview_url #}>
                <img src="/web/img/menu.png" width="40" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href={# statistics_url #}>
                <img src="/web/img/statistics.png" width="40" class="img-responsive">
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href={# challenge_url #}>
            <img src="/web/img/puzzle.png" width="40" class="img-responsive">
            </a>
        </div>
    </div>
</div>


