<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Qref?</title>

    <link rel="stylesheet" href="/web/css/bootstrap.min.css">

</head>
<body>

<header>
    {T header T}
</header>

<div class="container pt-3">
    {T alerts T}
    {T info T}
    {T content T}
</div>
</body>
</html>
