<div class="row">
    <div class="col-sm pr-4">
        <a href="{# register_show_url #}" class="btn btn-primary float-right">Register</a>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <h1 class="text-center">THE QREF</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="text-center"><img src="/web/img/sign.png" width="250"></div>
    </div>
</div>
