<div class="form-check">
    <input class="form-check-input" type="radio" value="{# choice #}" id="{# question_id #}"
           name="{# question_id #}" {# checked #}>
    <label class="form-check-label" for="{# question_id #}">
        {# choice #}
    </label>
</div>

