<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-2">
            <dt>Birth date</dt>
            <dd>{# date_of_birth #}</dd>

            <dt>Email</dt>
            <dd>{# email #}</dd>

            <dt>Password</dt>
            <dd>{# password #}</dd>
        </div>
        <div class="col-md-1 pt-5">
            <dt>
                <a href="{# edit_profile_url #}" class="btn btn-primary float-left">Edit</a>
            </dt>
        </div>

        <div class="col-md-6 offset-3">
            <h4 class="text-center">My results</h4>
            {T score_table T}
        </div>
    </div>
</div>