<div class="container border w-100 p-3 mt-4">
    <div class="row">
        <div class="col-sm-2">
            <b>{# full_name #}</b>
        </div>
        <div class="col-sm-7">
            {# comment #}
        </div>
        <div class="col-sm-3">
           Published on: {# published_on #}
        </div>
    </div>
</div>

