<h3>Statistics</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Quiz</th>
        <th scope="col">Min score</th>
        <th scope="col">Max score</th>
        <th scope="col">Average score</th>
        <th scope="col">Standard deviation</th>
        <th scope="col">Median</th>
    </tr>
    </thead>
    <tbody>
    {T rows T}
    </tbody>
</table>

