<div class="container-fluid">
    <h1 class="text-center">Error</h1>
    <div class="row">
        <div class="col text-center">{# message #}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-center"><img src="/web/img/bug.png" width="150"></div>
    </div>
    <hr>
</div>