<div class="row">
    <div class="col-sm text-center pt-5 pb-5">
        <a href={# easy_url #} class="btn btn-primary">Easy</a>
    </div>
</div>
<div class="row">
    <div class="col-sm text-center pb-5">
        <a href={# medium_url #} class="btn btn-primary">Medium</a>
    </div>
</div>
<div class="row">
    <div class="col-sm text-center pb-5">
        <a href={# hard_url #} class="btn btn-primary">Hard</a>
    </div>
</div>

