<div class="row">
    <div class="col-sm">
        <h1 class="text-center">{# quiz_name #}</h1>
    </div>
</div>
<div class="row pb-5">
    <div class="col-sm text-center">
        {# quiz_description #}
    </div>
</div>

<form action="{# quiz_eval_url #}" method="POST">
    <input type="hidden" name="start_time" value="{# start_time #}">
    <input type="hidden" name="quiz_id" value="{# quiz_id#}">
    {T questions T}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


