<div class="row">
    <div class="col-sm">
        <h1 class="text-center">{# quiz_name#}</h1>
    </div>
</div>
<div class="row pb-5">
    <div class="col-sm text-center">
        {# quiz_description #}
    </div>
</div>
<div class="row pb-5">
    <div class="col-sm text-center">
        <a href="{# quiz_play_url #}" class=" button-my btn btn-primary">Take the quiz</a>
    </div>
</div>
<hr>
{T comments_input T}

{T comments_block T}

