<h3>Owned by me</h3>
<table class="table">
    <tbody>
    {T owned_by_me T}
    </tbody>
</table>
<h3>Owned by others</h3>

<table class="table">
    <tbody>
    {T owned_by_other T}
    </tbody>
</table>


