<tr>
    <td><a href="{# quiz_show_url #}">{# quiz_name #}</a></td>
    <td><a href="{# edit_url #}"><img src="/web/img/edit2.png" width="20"></a></td>
    <td><a href="{# delete_url #}"><img src="/web/img/delete.png" width="20"></a></td>
</tr>